<a href="https://colab.research.google.com/github/tarpandas/sentiment-analysis-on-tweet-data/blob/main/sentimentic_tarpan's_copy_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [ ]:
! mkdir ~/.kaggle

In [ ]:
! cp kaggle.json ~/.kaggle/

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
! kaggle datasets download kazanova/sentiment140

Downloading sentiment140.zip to /content
 73% 59.0M/80.9M [00:01<00:01, 21.3MB/s]
100% 80.9M/80.9M [00:01<00:00, 49.4MB/s]

In [ ]:
! unzip sentiment140.zip

Archive:  sentiment140.zip
  inflating: training.1600000.processed.noemoticon.csv

In [ ]:
import pandas as pd
import numpy as np
import re
import string

from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

In [ ]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
stopwords = stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [ ]:
cols = ['target','id','date','flag','user','text']
df = pd.read_csv('/content/training.1600000.processed.noemoticon.csv',encoding='ISO-8859-1' ,names=cols)

In [ ]:
df.head()

   target  ...                                               text
0       0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1       0  ...  is upset that he can't update his Facebook by ...
2       0  ...  @Kenichan I dived many times for the ball. Man...
3       0  ...    my whole body feels itchy and like its on fire
4       0  ...  @nationwideclass no, it's not behaving at all....

[5 rows x 6 columns]

In [ ]:
df.shape

(1600000, 6)

In [ ]:
df.isnull().any()

target    False
id        False
date      False
flag      False
user      False
text      False
dtype: bool

In [ ]:
df = df[['target','text']]
df.head()

   target                                               text
0       0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1       0  is upset that he can't update his Facebook by ...
2       0  @Kenichan I dived many times for the ball. Man...
3       0    my whole body feels itchy and like its on fire
4       0  @nationwideclass no, it's not behaving at all....

In [ ]:
nltk.download('wordnet')
def clean_text(text):
    text = text.lower()
    text = re.sub(r"http\S+|www\S+|https\S+", "", text)
    text = text.translate(str.maketrans("", "", string.punctuation))
    text = re.sub(r'\@\w+|\@', "", text)

    tokens = word_tokenize(text)
    tokens = [t for t in tokens if t not in stopwords] #remove stopwords
    ps = PorterStemmer()
    stemmed_words = [ps.stem(w) for w in tokens]
    lemmatizer = WordNetLemmatizer()
    lemma_words = [lemmatizer.lemmatize(w, pos='a') for w in stemmed_words]
        
    return " ".join(lemma_words)

df['text'] = [clean_text(text) for text in df['text']]

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [ ]:
df.head()

   target                                               text
0       0  switchfoot that bummer shoulda got david carr ...
1       0  upset cant updat facebook text might cri resul...
2       0  kenichan dive mani time ball manag save 50 res...
3       0                    whole bodi feel itchi like fire
4       0              nationwideclass behav im mad cant see

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

X = df['text']
Y = df['target']
countvector=TfidfVectorizer(sublinear_tf=True)
X=countvector.fit_transform(X)

In [ ]:
print(X)

  (0, 157929)	0.15587753816604233
  (0, 631014)	0.3502191394773273
  (0, 110927)	0.44214413494984517
  (0, 156846)	0.30740732790365805
  (0, 244416)	0.17008084181466654
  (0, 569647)	0.38537583961160926
  (0, 101240)	0.3273150276521766
  (0, 622700)	0.20315974742019183
  (0, 610632)	0.4870390182645749
  (1, 83496)	0.36899063495151885
  (1, 35557)	0.27283227572878344
  (1, 639262)	0.1894144105454469
  (1, 554145)	0.24331399382757396
  (1, 529720)	0.35515499082341817
  (1, 144439)	0.2829721300303142
  (1, 408171)	0.27587977259325475
  (1, 621375)	0.3022711171195184
  (1, 206949)	0.31224444399738466
  (1, 663385)	0.2796871240874307
  (1, 108213)	0.19188918464916543
  (1, 664000)	0.3287859968122214
  (2, 91213)	0.3573665773781524
  (2, 240869)	0.13503295189439646
  (2, 529490)	0.25437320838777033
  (2, 11658)	0.31017864976729104
  :	:
  (1599996, 629814)	0.6494918637689555
  (1599996, 676864)	0.5109123739906005
  (1599996, 462282)	0.2609874346193936
  (1599996, 290397)	0.3371895002342383
  (1599996, 138694)	0.2531525561582731
  (1599996, 260735)	0.266892203359937
  (1599997, 385544)	0.5489861536882931
  (1599997, 418962)	0.5481019218712504
  (1599997, 165949)	0.441517967805683
  (1599997, 523012)	0.3008874727177311
  (1599997, 55200)	0.3357485653965659
  (1599998, 37251)	0.4613851093587071
  (1599998, 562901)	0.45523418961496037
  (1599998, 9417)	0.418170684147375
  (1599998, 33954)	0.33593743499089845
  (1599998, 651760)	0.3830355124566162
  (1599998, 81573)	0.20551394188386546
  (1599998, 88768)	0.22990804399668494
  (1599998, 256780)	0.17261407934434458
  (1599998, 635377)	0.14338556051880438
  (1599999, 589236)	0.5176817754407438
  (1599999, 588944)	0.5176817754407438
  (1599999, 627233)	0.5032974135370973
  (1599999, 117993)	0.4216104406527817
  (1599999, 256780)	0.18151448595766118

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=19)

In [ ]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
mnb = MultinomialNB()
y_pred = mnb.fit(x_train, y_train).predict(x_test)
print('Naive-Bayes Accuracy :',accuracy_score(y_test,y_pred))

Naive-Bayes Accuracy : 0.75835

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[126976,  32809],
       [ 44519, 115696]])

In [ ]:
import pickle
file = open('model.pkl', 'wb')
pickle.dump(mnb,file)

## Accuracy test on 25% data

In [ ]:
df25 = df.loc[600000:1000000,:]
df25.shape

(400001, 2)

In [ ]:
X = df25['text']
Y = df25['target']
countvector=CountVectorizer(ngram_range=(1, 1))
X=countvector.fit_transform(X)
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=10)

In [ ]:
#Testing Naive-bayes on 25% data

mnb25 = MultinomialNB()
y_pred25 = mnb25.fit(x_train, y_train).predict(x_test)
print('Naive-Bayes Accuracy :',accuracy_score(y_test,y_pred25))
confusion_matrix(y_test, y_pred25)

Naive-Bayes Accuracy : 0.7854151823102211

array([[32760,  7291],
       [ 9876, 30074]])